version: '3.9'
services:
    api:
        build: .
        env_file:
            - .env
        environment:
            - DATABASE_URL=mysql://root:${DB_PASS}@host.docker.internal:${DB_PORT:-3306}/${DB_NAME}
        depends_on:
            - db
            - weaviate
        ports:
            - ${APP_PORT:-80}:3000
            - 5555:5555
        volumes:
            - ./src:/app/src
            - ./prisma:/app/prisma
    db:
        image: mysql
        restart: always
        environment:
            - MYSQL_ROOT_PASSWORD=${DB_PASS:?No password set}
            - MYSQL_DATABASE=${DB_NAME?No database name set}
            - MYSQL_USER=${DB_USER:-cinlok}
            - MYSQL_PASSWORD=${DB_PASS}
        ports:
            - ${DB_PORT:-3306}:3306
    weaviate:
        command:
            - --host
            - 0.0.0.0
            - --port
            - '8080'
            - --scheme
            - http
        image: semitechnologies/weaviate:1.18.4
        ports:
            - 8080:8080
        restart: on-failure:0
        environment:
            CONTEXTIONARY_URL: contextionary:9999
            QUERY_DEFAULTS_LIMIT: 25
            AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: 'true'
            PERSISTENCE_DATA_PATH: '/var/lib/weaviate'
            DEFAULT_VECTORIZER_MODULE: 'text2vec-contextionary'
            ENABLE_MODULES: 'text2vec-contextionary'
    contextionary:
        environment:
            OCCURRENCE_WEIGHT_LINEAR_FACTOR: 0.75
            EXTENSIONS_STORAGE_MODE: weaviate
            EXTENSIONS_STORAGE_ORIGIN: http://weaviate:8080
            NEIGHBOR_OCCURRENCE_IGNORE_PERCENTILE: 5
            ENABLE_COMPOUND_SPLITTING: 'false'
        image: semitechnologies/contextionary:en0.16.0-v1.0.2
        ports:
            - 9999:9999